    
<div class="weather-card">
   
      <span class="current-time">{{weatherData.date|date}}, {{now}}</span>
      <div class="weather-location">{{weatherData.name}},{{weatherData.country}}</div>
    
 
      <img src="http://openweathermap.org/img/wn/{{weatherData.icon}}.png" alt="{{weatherData.description}}">
      <div class="weather-description">{{weatherData.description}}</div>
     
 
     <div class="weather-temp"> {{weatherData.temp}}{{degree}}</div>
    <div class="feels-like">Feels like:{{weatherData.feels_like}}{{degree}}</div>
    <!-- <ul class="detailed-description">
       <li>Sunrise: {{weatherData.sunrise}}</li>
      <li >Sunset: {{weatherData.sunset}}</li>
      <li>High: {{weatherData.temp_max}}{{degree}}</li>
      <li>Low: {{weatherData.temp_min}}{{degree}}</li>
      <li>Humidity: {{weatherData.humidity}}%</li>
     
        
     

     
    </ul> -->
   

  
</div>

