

.current-time{
  color: #eb6e4b;
  font-size: 1rem;
}
.weather-location{
  font-size: 3.0rem;
  font-weight: 900;
  letter-spacing: 0.2rem;

}
.weather-temp{
  display: flex;
  justify-content: center;
  font-size: 7rem;
 
  font-weight: 900;
  
  
}

.feels-like{
  font-size: 15px;
 letter-spacing: 0.2rem;
 text-align: center;
 color: #48484a;
 font-weight: 700;

 

 
  
 
}
.weather-description{
  display: flex;
  justify-content: center;
 /* background-color:#e4e0e0; */
 background-size: 30%;
}




.detailed-description{
  
 padding-left: 10pt;
  text-align: start;
  font-size: 14px;
  list-style: none;
  border-left:1px #eb6e4b solid;
 
}

li{
  padding-right: 15pt;
}


@media only screen and (max-width:600px){
  .weather-block{
    display: flex;
    flex-direction: column;
    padding: 0 10px;

  }
  .weather-description{
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
   text-align: center;
    /* border: red solid; */
   
  }
  .weather-location{
    font-size: 1.4rem;
    /* line-height: 8.5rem; */
    /* margin-bottom: 1rem; */
    font-weight: 100;
    letter-spacing: 0.2rem;
    /* border: red solid; */
  }
  .weather-temp{
    font-size: 8rem;
   
    font-weight: 400;
    position: relative;
    /* border: red solid; */
  }
  .weather-temp::after{
    content: '\00B0 C';
    font-size: 3rem;
    position: absolute;
    top: 1.8rem;
    left: 8.5rem;
    /* border: red solid; */
  }
} 
