

.weather-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.weather-date {
  width: 20%;
}
.weather-description {
  font-size: 9pt;
  width: 30%;
}
.mat-title {
  font-size: 12pt;
}

mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}
.expansion-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  font-weight: 700;
  margin-top: 25px;
  font-size: 9pt;
  list-style: none;
  color: gray;
  border-left: 1px #eb6e4b solid;
}
li{
  margin-left: 10px;
}
li:hover{
  zoom: 1.2;
  color: #eb6e4b;
}




@media only screen and (max-width: 768px) {
  .weather-title {
    font-size: 8pt;
    font-weight: 700;
  }
  .weather-description {
    font-size: 6pt;
    font-weight: 500;
   
  }
  .expansion-description{
    font-size: 6pt;
    padding: 0;
    color: gray;
  }
  
 
}
