<div class="weather-card">
  <span class="current-time"
    >{{ weatherData.dt * 1000 | date }}, {{ now }}</span
  >
  <div class="weather-location">
    {{ weatherData.name }},{{ weatherData.sys.country }}
  </div>

  <img
    src="http://openweathermap.org/img/wn/{{ weatherData.weather[0].icon }}.png"
    alt="{{ weatherData.weather[0].description }}"
  />
  <div class="weather-description">
    {{ weatherData.weather[0].description }}
  </div>

  <div class="weather-temp">
    {{ weatherData.main.temp | number: "1.0-0" }}{{ degree }}
  </div>
  <div class="feels-like">
    Feels like:{{ weatherData.main.feels_like | number: "1.0-0" }}{{ degree }}
  </div>
</div>
