.weather-app {
  /* padding: 0rem 6rem; */
  display: flex;
  /* flex-wrap: wrap; */
 
  justify-content: center;
  /* border: red solid; */
  align-items: stretch;
}

.main {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: red solid; */

  /* background-image: url('C:\Users\hkanani\OneDrive - Advicent Solutions, LP\Desktop\images\04n.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}
.weather-data {
  /* display: flex; */
  /* padding: 0 7rem;
  text-align: center; */
  /* border: red solid; */
  
}

.search-tab {
  padding: 1.2rem 0;
  display: flex;
  justify-content: center;
  background-color: #e7e5e5;
  /* border: red solid; */
  
}

agm-map {
  height: 230px;
  width: 100%;
}


.toolbar-class {
  background-color: #48484b;
  color: whitesmoke;
}

.weather-forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-start; */
  border:red solid;
  padding: 1rem 5rem;
 
  /* border:red solid; */
  font-size: 18pt;
  font-weight: 700;
 
}
.hourly{
 
  width: 600px;
  /* padding-bottom: 2rem; */
 
 /* border: black solid; */


}
.daily{
  border :red solid;
  width: 100%;
}




@media only screen and (max-width: 768px) {
  .weather-app {
    display: flex;
    flex-direction: column;
    border: red solid;
  }
  

  agm-map {
    /* padding: 0px 20px; */
    height: 220px;
    width: 100%;
    border: red solid;
  }
  .weather-forecast{
    /* display: flex; */
    padding:0 0.5rem ;
    align-items: center;
    font-size: 14pt;
    border: red solid;
    justify-content: space-between;
  }
  .hourly{
    max-width: 100%;
    border: red solid;
  }
 
}
