.weather-app {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.main {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search-tab {
  padding: 1.2rem 0;
  display: flex;
  justify-content: center;
  background-color: #e7e5e5;
}

agm-map {
  height: 230px;
  width: 100%;
}

.toolbar-class {
  background-color: #48484b;
  color: whitesmoke;
}

.weather-forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 5rem;
  font-size: 18pt;
  font-weight: 700;
}
.hourly {
  width: 600px;
}
.daily {
  width: 600px;
}

/* Mobile Version */
@media only screen and (max-width: 768px) {
  .weather-app {
    display: flex;
    flex-direction: column;
    
  }
  .main{
    margin: 0;
  }

  agm-map {
    height: 220px;
    width: 100%;
  }
  .weather-forecast {
    padding: 0 0.5rem;
    align-items: center;
    font-size: 14pt;
    justify-content: space-between;
  }
  .hourly {
    max-width: 100%;
  }
  .daily{
    width: 100%;
  }
}
