
<mat-toolbar class="toolbar-class">
  <button
    [mat-menu-trigger-for]="weatherMenu"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #weatherMenu>
    <button mat-menu-item (click)="city = 'tirana'; onSearchClick()">Weather</button>
    <button mat-menu-item>Forecast</button>
  </mat-menu>
  <span>My App</span>
  <span class="example-spacer"></span>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-form-field class="search-tab">
  <mat-label>Enter City.. </mat-label>

  <input
    class="input-class"
    matInput
    type="search"
    [(ngModel)]="city"
    (keyup.enter)="onSearchClick()"
  />

  <button matPrefix mat-icon-button (click)="onSearchClick()">
    <mat-icon>search</mat-icon>
  </button>
  <button
    *ngIf="city"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="city = ''"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-form-field>

<div class="weather-app">
  <div class="main">
    <div class="weather-data">
      <app-weather-card [weatherData]="weather"></app-weather-card>
    </div>
    <div class="weather-map">
      <agm-map
        (mapClick)="onMapClick($event)"
        [latitude]="weather.coord.lat"
        [longitude]="weather.coord.lon"
      >
        <agm-marker
          [latitude]="weather.coord.lat"
          [longitude]="weather.coord.lon"
          [visible]="isVisibleMarker"
        >
        </agm-marker>
      </agm-map>
    </div>
  </div>

  <div class="weather-forecast">
    <div class="hourly">
      2-day forecast
      <app-hourly-forecast class="hourly" [$hourlyForecast]='getHourlyForecast()'></app-hourly-forecast>
      <!-- <canvas id="myChart">{{ chart }}</canvas> -->
    </div>
    <div class="daily">
      5-day forecast
      <button *ngIf="!showForecast" mat-button (click)="toggleForecast()">
        Show Forecast
      </button>
      <button *ngIf="showForecast" mat-button (click)="toggleForecast()">
        Hide Forecast
      </button>
      <daily-forecast *ngIf="showForecast" [weatherForecast]="dailyForecast">
      </daily-forecast>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
