<div>
  <mat-accordion class="mat-accord">
    <mat-expansion-panel *ngFor="let list of weatherForecast" >
      <mat-expansion-panel-header  expandedHeight="20px" class="exp-panel">
        <mat-panel-title class="weather-card">
          <div class="weather-date">{{ list.dt_txt |date:'EE, MMM d'}}</div>
          
            <img
              src="http://openweathermap.org/img/wn/{{list.weather[0].icon}}.png"
              alt="image displayed"
            />
         
          <div class="weather-temp">
            
            {{ list.main.temp |number:'1.0-0' }}{{ degree }}
          </div>
          <div class="weather-description">{{ list.weather[0].description }}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="expansion-description">
        <div>
          <p>Feels Like:{{list.main.feels_like}} </p>
          <p>{{list.weather[0].description}}</p>
        </div>
        <li>Sunrise: {{list.main.temp}}</li>
       <li >Sunset: </li>
       <li>High: {{degree}}</li>
       
         
      
 
      
     </ul>

      
    </mat-expansion-panel>
  </mat-accordion>
</div>
