/* You can add global styles to this file, and also import other style files */
body{
  /* background-image: url('C:\Users\hkanani\OneDrive - Advicent Solutions, LP\Desktop\images\01d.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: right; */
  
 
  color: #505050;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
 
 
}
/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
@media only screen and (max-width:600px){
  body{
    margin: 0;
    padding:0 ;
  }
}